<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <spamblocker>
            <general>
                <block_message>There was an error processing your request.</block_message>
            </general>
            <registration_timer>
                <min_reg_time>1</min_reg_time>
            </registration_timer>
        </spamblocker>
    </default>
</config>
