<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <spamblocker>
            <general>
                <block_message>There was an error creating your account.</block_message>
            </general>
            <registration_timer>
                <min_registration_time>1</min_registration_time>
            </registration_timer>
            <honeypot_field>
                <honeypot_field_name>hptfld</honeypot_field_name>
            </honeypot_field>
        </spamblocker>
    </default>
</config>
