<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="spamblocker" translate="label" sortOrder="9001" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Spam Blocker</label>
            <tab>customer</tab>
            <resource>SamSteele_SpamBlocker::config_spam_blocker</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_message" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Text</label>
                    <comment>This text will be displayed to the user when a registration is blocked.</comment>
                </field>
            </group>

            <group id="registration_timer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Registration Timer</label>
                <field id="enable_registration_timer" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_registration_time" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Registration Time</label>
                    <validate>validate-number</validate>
                    <comment>In seconds.</comment>
                </field>
            </group>

            <group id="honeypot_field" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Honeypot Fields</label>
                <field id="honeypot_field_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Honeypot Field Name</label>
                    <comment>Don't be too obvious. Smart bots may avoid a field called "honeypot".</comment>
                </field>
                <field id="customer_account_create" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Account Registration Honeypot</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
